/* Selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  width: 100px;
}

header {
  background: linear-gradient(90deg, #4a7bd4, #dddddd);
  color: white;
  padding: 20px;
  text-align: center;
  /* ejes: esquina superior izquierda - sentida reloj */
  border-radius: 0 0 15px 15px;
  box-shadow: 7px 12px 16px -9px rgba(0, 0, 0, 0.71);
}

.logo {
  width: 200px;
}

/* Selector por esfecificidad */
nav ul {
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  margin-bottom: 5px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 12px;
  background-color: #ffffff34;
  color: white;
}

nav ul li a:hover {
  background-color: #e3e2e234;
}

section {
  /* margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; */
  /* 1 dato, eje vertical */
  /* 2 dato, eje horizontal */
  margin: 20px auto;
  max-width: 70%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

#inicio {
  background-color: #e8efff;
  /* ancho, tipo de borde, color */
  border: 2px solid #d6e3ff;
  text-align: center;
}

#inicio img {
  margin-top: 10px;
  width: 60%;
}

#contacto form {
  background-color: #f8fbff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  border: 1px solid #e2ecff;
  max-width: 80%;
}

form label {
  font-weight: 600;
  font-size: 15px;
  color: #2b3a55;
  display: block;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #cdd9f5;
  font-size: 16px;
  resize: none;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #6f9dfd;
  box-shadow: 0 0 8px rgba(111, 157, 253, 0.4);
}

button {
  width: 100%;
  padding: 14px 0;
  font-size: 17px;
  background: #4a7bd4;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}